{% extends 'base.html' %}

{% block content %}    

<h1>Signup</h1>
    <form method='POST'>
       <table>
           <tr>
            <td><label><span class="form_label">Username</span>
                <input name="username" type="text" value='{{username}}' /> </td>
            </label>
            <td><p class="error">{{username_error}}</p></td>
            </tr>
        </table>

        <table>
            <tr>
            <td><label><span class="form_label">Password</span>
                <input name="password" type="password" value='{{password}}' /> </td>
            </label>
            <td><p class="error">{{password_error}}</p></td>
            </tr>
        </table>

        <table>
            <tr>
            <td><label><span class="form_label">Password Validate</span>
                <input name="password_validate" type="password" value='{{password_validate}}' /> </td>
            </label>
            <td><p class="error">{{password_validate_error}}</p></td>
            </tr>
        </table>

        <table>
            <tr>
            <td><label><span class="form_label">E-mail (optional)</span>
                <input name="email" type="text" value='{{email}}' /> </td>
            </label>
            <td><p class="error">{{email_error}}</p></td>
            </tr>
        </table>

        <input class="submit" type="submit" value="Submit" />
    </form>

{% endblock %}  